{{ define "main" }}
<div id="nav" hx-trigger="load" hx-get="/areas/slides.html" hx-swap="innerHTML">

</div>
<div class="absolute bottom-0 left-0 bg-white-300 bg-opacity-75 widget" id="summary">Details</div>
<div class="absolute bottom-0 right-0 bg-white-300 bg-opacity-75 widget">
  <p><strong>Latitude:</strong> <span id="latitude">N/A</span></p>
  <p><strong>Longitude:</strong> <span id="longitude">N/A</span></p>
  <p><strong>Altitude:</strong> <span id="altitude">N/A</span></p>
</div>

{{ end }}
