{{ $context := .context }}
{{ $galleryFolder := .galleryFolder }}
{{ $images := slice }}


{{ warnf "galleryFolder %s" $galleryFolder}}
{{ with $galleryFolder }}
{{ warnf "1"}}
{{ $path := printf "%s/**" $galleryFolder }}
    {{ warnf "b %s" $path}}
    {{ range resources.Match $path }}
      {{ warnf "c"}}
      {{ $images = $images | append . }}
      {{ warnf "d"}}
    {{ end }}
        {{ warnf "e"}}
        {{ else }}
        {{ warnf "f"}}
        {{ errorf "The 'galleryFolder' parameter is required for the carousel partial. Please set it in your front matter or pass it correctly." }}
        {{ warnf "g"}}
        {{ end }}
        {{ warnf "g"}}

{{ with resources.Get "images/Dallas Road/Dallas Road 1.jpg" }}
  <img src="{{ .RelPermalink}}">/>
{{ end }}


<div class="carousel-container">
    <div class="carousel-track">
        {{ warnf "i"}}
        {{ range $index, $image := $images }}
        {{ warnf "j"}}
        {{/* Define image variations based on target heights/widths */}}
            {{ $smallImagePortrait := $image.Resize "x100" }}  {{/* For screens < 600px, 100px height */}}
            {{ $mediumImagePortrait := $image.Resize "x200" }} {{/* For screens 600px - 1024px, 200px height */}}
            {{ $largeImagePortrait := $image.Resize "x300" }}  {{/* For screens > 1024px, 300px height */}}

            <div class="carousel-slide {{ if eq $index 0 }}active{{ end }}" data-index="{{ $index }}">
                <picture>
                    <source media="(max-width: 599px)"
                            srcset="{{ $smallImagePortrait.RelPermalink }}"
                            width="{{ $smallImagePortrait.Width }}"
                            height="{{ $smallImagePortrait.Height }}">
                    <source media="(max-width: 1024px)" {{/* This applies from 600px up to 1024px */}}
                            srcset="{{ $mediumImagePortrait.RelPermalink }}"
                            width="{{ $mediumImagePortrait.Width }}"
                            height="{{ $mediumImagePortrait.Height }}">
                    <img src="{{ $largeImagePortrait.RelPermalink }}" {{/* Default for > 1024px */}}
                         alt="Gallery Image {{ add $index 1 }}"
                         loading="lazy"
                         width="{{ $largeImagePortrait.Width }}"
                         height="{{ $largeImagePortrait.Height }}">
                </picture>
            </div>
        {{ end }}
    </div>

    <button class="carousel-prev-btn">&lt;</button>
    <button class="carousel-next-btn">&gt;</button>

    <div class="carousel-dots">
        {{ range $index, $image := $images }}
            <span class="dot {{ if eq $index 0 }}active{{ end }}" data-index="{{ $index }}"></span>
        {{ end }}
    </div>
</div>